<%- include('./partials/header.ejs') -%>

<h1>Edit Poem</h1>
<form action="/poems/<%=poem.id%>?_method=PUT" method="post">
  <label for="title">Title:</label>
  <br/>
  <input type="text" name="title" value="<%=poem.title%>">
  <br/>
  <label for="author" value="<%=poem.author%>">Author:</label>
  <br/>
  <input type="text" name="author">
  <br/>
  <label for="content" value="<%=poem.content%>""></label>
  <textarea id="textarea" name="content" rows="8" cols="80"></textarea>
  <br/>
  <input type="submit" name="" value="Submit">
</form>

<script>
  document.querySelector('#textarea').value = '<%=poem.content%>'
</script>

<%- include('./partials/footer.ejs') -%>
