<%- include('./partials/header.ejs') -%>

<h1>Index page</h1>

<div class="container">
  <div class="row">
    <%for (let i = 0; i < poems.length; i++){%>
      <div class="col-sm-4">
        <h3 class="titles"><%=poems[i].title%> <a href="/poems/<%=poems[i].id%>"> >> </a></h3>
        <p class="authors">By <%=poems[i].author%></p>
        <p class="contents"><%=poems[i].content%></p>
        <p><%=poems[i].time%></p>
      </div>
    <%}%>
  </div>
</div>

<script>
  const contents = document.querySelectorAll('.contents')
  for (content of contents) {
    let longer = false
    if (content.innerHTML.length > 300) {
      longer = true
    } else {
      longer = false
    }
    content.innerHTML = content.innerHTML.substring(0, 200);
    if (longer === true){
      content.innerHTML = content.innerHTML + "..."
    }
  }
</script>
<%- include('./partials/footer.ejs') -%>
