<%- include('./partials/header.ejs') -%>

<div class="jumbotron">
  <h1 class="display-1">Poetry Wall</h1>
  <p class="lead">A user-submitted collection of poetry.</p>
  <img id="frontpage" src="/icon.png">
  <hr class="my-4">
</div>

<div class="container">
  <div class="row justify-content-around">
    <%for (let i = poems.length-1; i >= 0; i--){%>
      <div class="col-sm-4">
        <h3 class="titles wordbreak"><%=poems[i].title%></h3>
        <p class="authors wordbreak">By <%=poems[i].author%></p>
        <p class="contents wordbreak"><%=poems[i].content%></p>
        <p><small class="text-muted"><%=poems[i].time%><%=poems[i].edit%></small></p>
        <form action="/poems/<%=poems[i].id%>" method="get">
          <button type="submit" class="btn btn-primary w-100">View</button>
        </form>
      </div>
    <%}%>
  </div>
</div>

<script>
  const contents = document.querySelectorAll('.contents')
  for (content of contents) {
    let longer = false
    if (content.innerHTML.length > 300) {
      longer = true
    } else {
      longer = false
    }
    content.innerHTML = content.innerHTML.substring(0, 170);
    if (longer === true){
      content.innerHTML = content.innerHTML + "..."
    }
  }
</script>
<%- include('./partials/footer.ejs') -%>
