<%- include('./partials/header.ejs') -%>

<h1><%=poem.title%></h1>
<h5><%=poem.author%></h5>
<p><%=poem.content%></p>
<p><%=poem.time%></p>

<form action="/poems/<%=poem.id%>?_method=DELETE" method="post">
  <input type="submit" value="Delete">
</form>


<%- include('./partials/footer.ejs') -%>
