<%- include('./partials/header.ejs') -%>
<div class="container" id="showPoem">
  <div class="row justify-content-center" >
    <div class="col-sm-4">
      <br/>
      <h1 class="text-center wordbreak"><%=poem.title%></h1>
      <h5 class="text-center wordbreak"><%=poem.author%></h5>
      <p class="text-center wordbreak" id="content"><%=poem.content%></p>
      <p class="text-center"><small class="text-muted"><%=poem.time%><%=poem.edit%></small></p>
    </div>
  </div>
  <div class="btn-group d-flex justify-content-center">
    <div>
      <form action="/poems/<%=poem.id%>/edit" method="get">
        <input type="submit" class="btn btn-primary" value="Edit">
      </form>
    </div>
    <div >
      <form action="/poems/<%=poem.id%>?_method=DELETE" method="post">
        <input type="submit" class="btn btn-primary" value="Delete">
      </form>
    </div>
    <div>
      <button class="btn btn-primary" onclick="responsiveVoice.speak(document.getElementById('content').textContent, 'US English Female')">Read</button>
    </div>
    <div>
      <button class="btn btn-primary" onClick="responsiveVoice.cancel()" name="button">Cancel</button>
    </div>
  </div>
  <div class="row justify-content-center comment-box">
    <div class="col-8">
      <br/>
      <h4>Comments</h4>
      <form action="/poems/<%=poem.id%>" method="post">
        <input id="commentName" type="text" name="author" placeholder="Your Name">
        <br/>
        <textarea id="comment" name="comment" placeholder="Your comment"></textarea>
        <br/>
        <button class="btn btn-dark">Post</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
      <%for (comment of comments) { %>
        <%if (comment.pageId == poem.id) {%>
          <div class="col-sm-8">
          <h5 class="wordbreak"><%=comment.author%></h5>
          <p class="wordbreak"><%=comment.comment%></p>
          <form action="/poems/<%=poem.id%>/<%=comment.id%>?_method=DELETE" method="post">
            <input type="submit" class="btn btn-primary btn-sm" value="Delete">
          </form>
          </div>
        <%}%>
      <%}%>
  </div>
</div>



<%- include('./partials/footer.ejs') -%>
